.Post {
    width: 100%;
    padding: 16px 10px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: left;
}
h1{
    font-size: 20px;
}

.Body{
    margin-top: 10px;
}
.Post:hover,
.Post:active {
    background-color: #eee;
}