
.Button {
    background-color: #5C9210;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 20px;
    margin: 10px;
    width: 100px;
    font-weight: bold;
    color: #ffff;
}



input{
    width: 100%;
}
textarea{
    width: 100%;
    height: 300px;
}
